{% extends "padre.html" %}

{% block titulo_pagina %}
    Inicio
{% endblock %}

{% block menu_seleccionado %}
    <li id="seleccionado" class="elemento_menu"><a href="../index.php">Inicio</a></li>
    <li id="ocultar" class="elemento_menu"><a href="">Evento</a></li>
{% endblock %}

{% block bloque_central %}
<main class="principal">
    {% for i in lista_eventos %}
    <section class="seccion_evento">
        <img src="{{ i.img }}" alt="Imagen Evento">
        <a class="nombre_artista" href="evento.php">{{ i.nombre_artista }}</a>
        <p class="tipo_evento">{{ i.tipo_evento }}</p>
        <p class="descripcion_evento">{{ i.descripcion }}</p>
    </section>
    {% endfor %}

</main>
{% endblock %}
